<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet">
</head>
<body>
    <navbar>
        <!-- <div class='Icon'>
            <img src="/images/guitar.png" alt="guitar">
        </div> -->
        <a href='/api'><h1>MUSIC SEARCH APP</h1></a>
        <!-- <li>
            <ul>Singles</ul>
            <ul>Artists</ul>
            <ul>Albums</ul>
        </li>   -->
    </navbar>