<% include ./partials/header.ejs %>

<div class='ButtonSelect'>
    <button><a href='/api/singles'>SINGLES</a></button>
    <button><a href='/api/artists'>ARTISTS</a></button>
    <button><a href='/api/albums'>ALBUMS</a></button>
</div> 

<% include ./partials/footer.ejs %>

