<% include ./partials/header.ejs %>

<h1>MUSIC SEARCH APP</h1>
<div class='ButtonSelect'>
    <button>SINGLES</button>
    <button>ARTISTS</button>
    <button>ALBUMS</button>
</div> 

<% include ./partials/footer.ejs %>

