body {
    background-image: url('./images/jazz-background.png');
    background-repeat: none;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
}

/* ---------- NAVBAR ---------- */

navbar {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    padding: 0 20px;
}

navbar h1 {
    font-size: 40px;
}

navbar h1:hover {
    transform: scale(1.1)
}

/* ---------- TITLE ---------- */

h1 {
    text-align: center;
    color: #F5F5DC;
}

/* ---------- BUTTONS ---------- */

.ButtonSelect {
    display: flex;
    width: 80%;
    height: 100px;
    justify-content: space-around;
}

button {
    width: 30%;
    height: 70%;
    font-size: 35px;
    border-radius: 25px;
    box-shadow: 5px 10px 5px #c488ef;
    background: #F5F5DC;
}

button:hover {
    background: lightgray;
    color: grey;
}

button:active {
    outline: none;
    box-shadow: 0 0 0;
    transform: translateY(5px);
}

button:focus {
    outline: none;
}


/* ---------- SINGLES ---------- */

div.Box {
    border: 5px solid white;
    width: 700px;
    margin: 20px 0;
}

div.Singles {
    display: flex;
    flex-direction: space-between;
    padding: 15px;
}

div.Singles img {
    width: 180px;
    height: auto;
}

div.Details {
    margin-left: 20px;
}

div.Details h1,h2 {
    text-align: left;
}